.card_center {
    min-height: 50vh;
    overflow: auto;
    width: 50vw;
    margin: auto;
    color: #282c34
}

@media screen and (max-width: 767px) {
    .card_center {
        width: 75vw;
    }
}

@media screen and (max-width: 552px) {
    .card_center {
        width: 90vw;
    }
}

.card_body_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-block {
    text-align: left;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-block .label {
    font-size: 30px;
    font-weight: 700;
}

.input-block .input-control input[type=text] {
    border: none;
    outline-width: 0;
    border-bottom: 2px solid #CCC;
    width: 100%;
    font-size: 24px;
    padding-bottom: 10px;
    text-align: left;
}

.next-buttom-block {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
}

.cursor-pointer {
    cursor: pointer;
}

.disabled {
    color: #282c346f;
    cursor: default;
}

.active {
    color: #282c34
}
